:root {
    --bs-primary: #243d40;
    --bs-primary-rgb: 36, 61, 64;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;
}

main > div {
    height: fit-content;
}

.btn-primary {
    --bs-btn-bg: #3a846d;
    --bs-btn-border-color: #3a846d;
    --bs-btn-hover-bg: #49a588;
    --bs-btn-hover-border-color: #49a588;
    --bs-btn-active-bg: #49a588;
    --bs-btn-active-border-color: #49a588;
    --bs-btn-disabled-bg: #49a588;
    --bs-btn-disabled-border-color: #49a588;
}

.img-logo {
    width: 50px;
}

.my-cel-width-easy {
    width: calc(100% / 10);
    aspect-ratio: 4/3;
}

.my-cel-width-medium {
    width: calc(100% / 9);
    aspect-ratio: 4/3;
}

.my-cel-width-hard {
    width: calc(100% / 7);
    aspect-ratio: 4/3;
}

.my-bg-blue {
    background-color: #3a9a7f;
}

.my-bg-red {
    background-color: #bc4749;
}

#grid-create {
    background-image: url("../img/img-grass.png");
    background-size: contain;
    position: relative;
}

.form-select {
    color: white;
    background-color: #3a846d;
    font-weight: bold;
    text-transform: uppercase;
}

#end-game {
    position: absolute;
}

.end-game-click {
    background-color: rgb(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}

.already-clicked-cell {
    pointer-events: none;
}

.end-game-click ~ div {
    pointer-events: none;
}